<div style="">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Change Password</h3>
      <!--<strong>Change Password</strong>-->
    </div>

    <div class="panel-body">
      <form (submit)="onChangePasswordSubmit()" name="myForm">
        <div class="row">
          <label class="sucess-alert">  </label>
        </div>
    

        <div class="form-group row">
          <div class="col-md-12" >
           <label> Current Password *</label>
          <input type="password" [(ngModel)]="CurrentPassword" name="CurrentPassword" class="form-control">
          <span class="text text-danger" >{{CurrentPasswordErr}} </span>
          </div>
        </div>

         <div class="form-group row">
          <div class="col-md-12" >
           <label> New Password *</label>
          <input type="password" [(ngModel)]="NewPassword" name="NewPassword" class="form-control">
          <span class="text text-danger" >{{NewPasswordErr}} </span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12" >
           <label> Confirm Password *</label>
          <input type="password" [(ngModel)]="ConfirmPassword" name="ConfirmPassword" class="form-control">
          <span class="text text-danger" >{{ConfirmPasswordErr}} </span>
          </div>
        </div>


        <input type="submit" ng-click="submit(myForm)" class="btn btn-primary" value="Submit">      </form>
    </div>
  </div>
</div>

